<h2>Abilities</h2>
<div>
  <label>Roll</label>
  <select ng-model="rollType" ng-init="rollType='4d6-L'">
    <option value="3d6">3d6</option>
    <option value="4d6-L">4d6 discard lowest</option>
    <option value="">Pointbuy</option>
    <option value="">Manual Entry</option>
  </select>
  <button ng-click="roll(rollType)" class="fa fa-die-six"></div>
</div>

<div>
  <label>Race</label>
  <select ng-model="selectedRace" ng-change="character.setRace(selectedRace)" ng-options="race.verboseName for race in raceList"></select>
</div>
<div>
  <label>Level <span>{{character.level}}</span><input type="range" ng-model="character.level" min="1" max="20"></label>
</div>

<div ng-show="character.traits['Ability Modifiers'].Any">
  <select ng-model="racialBonus">
    <option value="" selected disabled hidden>Select Stat</option>
    <option value="{{ability.name}}" ng-repeat="ability in abilityList | orderObjectBy:'id'">{{ability.name}}</option>
  </select>
</div>
<div ng-show="bonusAbilityPoints()">
  <p>
    <strong>Bonus Points:
    </strong>{{ bonusAbilityPointsSpent() + "/" + bonusAbilityPoints() }}</p>
</div>

<div ng-repeat="ability in abilityList | orderObjectBy:'id'">
  <ability-score ability="{{ability}}"></ability-score>
</div>
